/* 액티비티 override용 CSS */
a:hover {text-decoration: none;}
html, body {height: inherit;}
html, body, h1, h2, h3, h4, h5, h6, input, button, textarea, select {font-family: "Noto Sans KR",  Dotum, "돋움", Gulim, "굴림", "Helvetica Neue", Helvetica, Arial, Verdana, Tahoma, sans-serif;}
.primary-main header h1 em {font-size: 1.4rem;}
a.info-sns2, ul.info-sns2 li {width: 32px; height: 32px;}
.info-count4>li>span, .info-count4>li>a {padding-top: 33px;}
.info-count4>li strong {font-size: 1.8rem;}


@media all and (min-width: 320px) {
    html, body {font-size: 9px;}
}

@media all and (-webkit-min-device-pixel-ratio: 3) {
    html, body {font-size: 11px;}
}