@charset "utf-8";
.wrap-index .section-main { padding: 0px 0px 60px; }
.wrap-index .section-main header { margin: 50px 0 35px !important; }
.wrap-index .index-list { position: relative; max-width: 960px; margin: 0 auto; padding: 0; background: url(http://imagem.nepa.co.kr/resources/img/bg_index_sub.png) repeat-y right; ; *zoom:1; }
.wrap-index .index-list:after { content: ''; clear: both; display: block; width: 100%; }
.wrap-index .index-list h2 { margin: 0.28em 0; color: #333; font-size: 1.786em; line-height: 1em; font-family: Nepa; font-weight: bold; }
.wrap-index .index-list .sub-list { float: left; overflow: hidden; width: 715px; margin: 0; padding: 0; }
.wrap-index .index-list .section1>ul { margin-left: -15px; *zoom:1; }
.wrap-index .index-list .section1>ul:after { content: ''; clear: both; display: block; width: 100%; }
.wrap-index .index-list .section1>ul>li { float: left; margin: 15px 0 0 15px; width: 228px; }
.wrap-index .index-list .section1>ul>li .visual { display: block; width: 100%; height: 0; padding: 0 0 100%; *padding:0; *height:235px; }
.wrap-index .index-list .section1>ul>li .visual img { position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; max-width: 100%; max-height: 100%; }
.wrap-index .index-list .section1>ul>li figcaption { overflow: hidden; position: relative; height: 12.857em; }
.wrap-index .index-list .section1>ul>li figcaption>p { overflow: hidden; height: 3.78em; text-overflow: ellipsis; }
.wrap-index .index-list .section2 { position: relative; float: right; padding: 0 0.714em 0.714em; width: 210px; background: #8a785f; }
.wrap-index .index-list .section2>ul>li { margin: 0.714em 0 0 0; }
.wrap-index .index-list .section2 .sns ul li span { width:; }
.wrap-index .index-list .section2 .sns ul li strong { display: block; color: #c1aa87; }
.wrap-index .index-list .section3 { position: relative; margin-top: 40px; }
.wrap-index .index-list .section3 > p { margin-bottom: 15px; padding-right: 2.08em; }
.wrap-index .index-list .section3 div>ul>li { float: left; width: 228px; }
.wrap-index .index-list .btn-page { width: 2.08em; height: 2.08em; text-indent: -9999px; }
.wrap-index .index-list .section2 .btn-page { background: url(http://imagem.nepa.co.kr/resources/img/btn_more_655a4c.png) no-repeat 0 0; }
.wrap-index .index-list .section3 .btn-page { top: 2.143em; background: url(http://imagem.nepa.co.kr/resources/img/btn_more_ffffff.png) no-repeat 0 0; }
.wrap-index .index-list .section2 .sns li { margin-bottom: 6em; }
.wrap-index .index-list .section2 .sns li>a:link, .wrap-index .index-list .section2 .sns li>a:hover, .wrap-index .index-list .section2 .sns li>a:visited, .wrap-index .index-list .section2 .sns li>a:active { text-decoration: none; }
.wrap-index .index-list .section2 .sns li span { display: block; margin: 0.571em 0; width: 3.36em; height: 3.36em; text-indent: -9999px; width: 47px\9; height: 47px\9; }
.wrap-index .index-list .section2 .sns li.facebook span { background: url(http://imagem.nepa.co.kr/resources/img/icon_sns5_1.png) no-repeat 0 0; }
.wrap-index .index-list .section2 .sns li.twitter span { background: url(http://imagem.nepa.co.kr/resources/img/icon_sns5_2.png) no-repeat 0 0; }
.wrap-index .index-list .section2 .sns li.youtube span { background: url(http://imagem.nepa.co.kr/resources/img/icon_sns5_3.png) no-repeat 0 0; }
.wrap-index .index-list .section2 .sns li.google span { background: url(http://imagem.nepa.co.kr/resources/img/icon_sns5_4.png) no-repeat 0 0; }
.wrap-index .index-list .section2 .sns li.blog span { background: url(http://imagem.nepa.co.kr/resources/img/icon_sns5_5.png) no-repeat 0 0; }
.wrap-index .index-list .section2 .sns li.cafe span { background: url(http://imagem.nepa.co.kr/resources/img/icon_sns5_6.png) no-repeat 0 0; }
.wrap-index .index-list .section2 .sns li strong { display: block; margin: 0.357em 0; color: #c1aa87; font-size: 0.89em; }
.wrap-index .index-list .section2 .sns li p { color: #e6e0d8; line-height: 1.43; }
.primary-main { max-width: 920px; margin: 0 auto; padding: 4em 20px; }
.primary-main header { position: relative; margin: 0 0 2.142em; }
.primary-main header > em { display: block; margin: 0 0 1.571em; font-weight: 800; color: #333; font-size: 14px; }
.primary-main header > em span { position: relative; display: inline-block; padding: 0 0 0 3.5em; margin-left: 1.5em; }
.primary-main header > em span:before { position: absolute; display: block; left: 0; top: 50%; margin-top: -0.5px; width: 2em; height: 1px; background: #333; content: ''; }
.primary-main header h1 { padding: 0 38% 0 0; font-size: 2.4285em; line-height: 1.15; color: #333; }
.primary-main header h1 strong { display: inline; margin: 0 10px 0 0; font-weight: 800; vertical-align: middle; }
.primary-main header h1 strong:only-child { margin: 0; }
.primary-main header h1 span { display: block; margin: 0.352em 0 0; font-weight: normal; }
.primary-main header h1 em { display: inline-block; font-size: 14px; font-size: 1rem; color: #9b9b9b; vertical-align: middle; }
.primary-main header .info-sns2 { margin: 2em 0 0; }
.primary-main header .info-count { position: absolute; right: 0; top: 3em; width: 33%; }
.primary-main header .summery { margin: 1.857em 0 1.785em; }
.primary-main header .summery strong { display: block; margin: 0 0 0.916em; font-size: 1.714em; line-height: 1.25; color: #333; font-weight: 600; }
.primary-main header.line { border-bottom: 5px solid #000; padding-bottom: 2.142em; }
.primary-main header.color1 > em { color: #fff; }
.primary-main header.color1 > em span:before { background: #fff; }
.primary-main header.color1 h1 { color: #fff; }
.primary-main header.color1 h1 .bg1 { background: rgba(0,0,0,0.3); line-height: 1.04; }
.primary-main header.color1 em { color: #fff; }
.primary-main header.color1 .summery, .primary-main header.color1 .summery strong { color: #fff; }
.primary-main header.headline2 h1 { padding: 0; }
.primary-main header.headline2 .info-count { position: static; margin: 1.785em 0 0; }
.primary-main header.headline2 .info-sns2 + .info-count { margin-top: 2.142em; }
.primary-main header.headline3 { min-height: 38.142em; margin: -30px 0 -4em; padding: 0 0 0 1.428em; }
.primary-main header.headline3 h1 { padding: 0; }
.primary-main header.headline3 .info-count { top: auto; right: 1.428em; bottom: 0; }
.primary-main header.headline4 { text-align: center; }
.primary-main header.headline4 h1 { padding: 0; }
.primary-main header.headline4 .info-count { position: static; display: inline-block; margin: 1.785em 0 0; }
.primary-main header.headline4 .summery { font-size: 1em; }
.primary-main header.headline5 h1 { font-size: 1.285em; line-height: 1.333; }
.primary-main header.headline5 h1 strong { font-size: 4.44em; line-height: 0.875; }
.primary-main header.headline3 .info-count { top: 4em; }
article { overflow: hidden; }
article + .wrap-content { padding-top: 1em; padding-bottom: 1em; }
article .visual-img, article .visual-img1, article .visual-img2, article .visual-img3 { margin-top: 20px; }
article .visual-img.no-gap, article .visual-img1.no-gap, article .visual-img2.no-gap, article .visual-img3.no-gap { margin-top: 0; }
.wrap-primary {font-family: 'Nanum Gothic', NanumBarunGothic, Nanum BarunGothic, ��������, NanumGothic, sans-serif; -webkit-text-size-adjust: none;}
.wrap-primary .con-type1 { margin: 0; padding: 0; border-bottom: 0; }
.wrap-primary .con-type1 p { text-align: justify; }
.wrap-primary .con-type1>.tit-sub:first-child { margin-top: 0; }
.wrap-primary .visual-list:after { content: ""; display: block; clear: both; }
.wrap-primary .visual-list .con { float: left; width: 50%; }
.wrap-primary footer { max-width: 920px; margin: 3.214em auto; padding: 0 20px; }
.wrap-primary footer ul.info-sns2 { margin: 1em 0 0; }
.wrap-primary footer .info-writer strong, .wrap-primary footer .info-writer cite { color: #333; font-weight: 800; }
.wrap-primary footer.bottom1 { text-align: center; }
@media only screen and (max-width:960px) {
.wrap-content { padding-bottom: 60px; }
.wrap-index .section-main { padding-left: 10px; padding-right: 10px; }
.wrap-index .index-list { width: 715px }
.wrap-index .index-list .sub-list { width: 471px; }
}
@media only screen and (max-width:820px) {
.primary-main header h1 { padding-right: 0 !important; }
.primary-main header .info-sns2 { margin: 3.5em 0 0; }
.primary-main header .info-count { right: 0; bottom: -1em; top: auto; width: 40%; }
.primary-main header.line .info-count { bottom: 1.785em; }
}
@media only screen and (max-width:767px) {
.primary-main header .info-sns2 { margin: 2em 0 0; }
.primary-main header .info-count { position: static; width: 100%; margin: 2em 0 0; }
.primary-main header.headline3 { padding: 0; min-height: 0; }
.wrap-index .index-list { width: 480px; background-image: none; }
.wrap-index .index-list .sub-list, .wrap-index .index-list .btn-type5 { width: 233px; }
.wrap-index .index-list .section3 { width: 100%; }
}
@media only screen and (max-width:719px) {
.wrap-primary .visual-list .con { float: none; width: 100%; }
}
@media only screen and (max-width:640px) {
.wrap-index .index-list { width: auto; margin: 0 10px; background: none; }
.wrap-index .index-list .sub-list, .wrap-index .index-list .btn-type5 { width: 100% }
.wrap-index .index-list .sub-list > ul > li, .wrap-index .index-list .section2 > ul > li { width: 49%; margin-left: 2%; }
.wrap-index .index-list .sub-list > ul > li:nth-child(odd), .wrap-index .index-list .section2 > ul > li:nth-child(odd) { margin-left: 0; }
.wrap-index .index-list .section1>ul { margin-left: 0; }
.wrap-index .index-list .section2 { float: left; margin-top: 20px; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.wrap-index .index-list .section2 > ul > li { float: left; }
.wrap-index .index-list .section2 .sns li { width: 100%; margin-bottom: 2em; margin-left: 0; }
}
@media only screen and (max-width:460px) {
.wrap-primary footer { padding: 0 10px; }
.wrap-index .index-list .sub-list > ul > li { width: 100%; margin-left: 0; }
}
@media only screen and (max-width:340px) {
.primary-main header > em span { display: block; margin-left: 0; }
.primary-main header.headline4 > em { padding: 0; text-align: left; }
.wrap-index .index-list .section2 > ul > li { width: 100%; margin-left: 0; }
}
.primary-article .wrap-primary { background: #fff; }
.primary-article1 .wrap-primary { background: #fff; }
.primary-article2 .wrap-primary { background: #fff; }
.primary-article2 .primary-main { max-width: none; }
.primary-article2 .primary-main header { min-height: 42em; margin: 0 auto; max-width: 920px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.primary-article2 .primary-main header h1 { font-size: 3.285em; line-height: 1.086; }
.primary-article3 .wrap-primary { background: #fff; }
.primary-article3 .primary-main { max-width: none; }
.primary-article3 .primary-main header { min-height: 50.571em; margin: 0 auto; max-width: 920px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.primary-article3 .primary-main + .wrap-content { padding-bottom: 2em; }
.primary-article3 .primary-main header .info-count { margin: 4.285em 0 0; }
.primary-article3 .primary-main header.headline2 h1 { font-size: 1.285em; line-height: 1.333; }
.primary-article3 .primary-main header.headline2 h1 strong { font-size: 4.44em; line-height: 0.875; }
.primary-article4 .wrap-primary { background: #fff; }
.primary-article4 .primary-main { max-width: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.primary-article4 .primary-main header { height: 55.714em; margin: 0 auto; max-width: 920px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.primary-article4 .slide { width: 100%; }
.primary-article4 .slide .wrap-content { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.primary-article4 .slide .con-type1, .primary-article4 .slide .con-type1 .tit-sub { color: #fff; }
.primary-article4 .slide .visual-img4.caption figcaption { text-align: left; }
@media only screen and (min-width:1600px) {
.primary-article2 .primary-main, .primary-article3 .primary-main, .primary-article4 .primary-main { background-size: cover !important; }
}
@media only screen and (max-width:820px) {
.primary-article2 .primary-main header .info-sns2, .primary-article3 .primary-main header .info-sns2 { margin: 2em 0 0; }
.primary-article2 .primary-main header .info-count, .primary-article3 .primary-main header .info-count { left: 0; bottom: 0; width: 60%; }
}
@media only screen and (max-width:767px) {
.primary-article2 .primary-main header, .primary-article3 .primary-main header { min-height: 0; }
.primary-article2 .primary-main header .info-count { margin: 9em 0 0 !important; }
.primary-article3 .primary-main header .info-count { margin: 13em 0 0 !important; }
}
@media only screen and (max-width:580px) {
.primary-article2 .primary-main header .info-count, .primary-article3 .primary-main header .info-count { width: 100%; }
}
@media only screen and (max-width:420px) {
.primary-article .primary-main { padding-left: 10px; padding-right: 10px; }
}
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
.primary-article3 .primary-main, .primary-article3 .slide, .primary-article4 .primary-main, .primary-article4 .slide { background-attachment: scroll !important; }
}
.info-scenario { display: block; padding: 1.5em 0 0; margin: 1.5em 0 0; border-top: 2px solid #000; }
.info-scenario>p { display: table; margin: 0; padding: 0; width: 100%; }
.info-scenario>p>span, .info-scenario>p>q { display: table-cell; }
.info-scenario>p>span { width: 20%; font-weight: bold; color: #333333; }
.info-scenario>p>q { width: 80%; text-indent: -4px; }
@media only screen and (max-width:960px) {
.info-scenario { clear: both; }
}
.list-series { margin: 1.785em 0; padding: 0 0 1.714em; border-bottom: 1px solid #333333; }
.list-series .tit-top, .list-series .tit { font-size: 1.571em; line-height: 1.272; text-align: center; }
.list-series .tit-top { padding: 0.772em 0; color: #fff; background: #333333; }
.list-series .tit { margin: 1.041em 0 0; padding: 0.208em 0; color: #e2da86; background: #173e35; }
.list-series>ul>li:first-child .tit { margin: 0; }
.list-series>ul>li ul { overflow: hidden; text-align: left; margin: 2em 0 0 -4%; }
.list-series>ul>li li { display: inline-block; width: 46%; margin: 0 -5px 0 4%; padding: 0.714em 0 0.714em 8em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; vertical-align: top; width: 320px\9; *display:inline; *zoom:1; }
.list-series>ul>li li strong { color: #333; }
.list-series>ul>li li strong span { margin: 0 10px 0 0; display: inline-block; vertical-align: middle; }
.list-series>ul>li li strong span:first-child { font-size: 1.714em; line-height: 1.25; }
.list-series>ul>li li dt { margin: 0.714em 0 0; color: #333333; font-weight: 600; }
.list-series>ul>li li.protect1 { background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/mark_protect01.png) no-repeat 0 1em; }
.list-series>ul>li li.protect2 { background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/mark_protect02.png) no-repeat 0 1em; }
.list-series>ul>li li.protect3 { background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/mark_protect03.png) no-repeat 0 1em; }
.list-series>ul>li li.protect4 { background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/mark_protect04.png) no-repeat 0 1em; }
.list-series>ul>li li.protect5 { background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/mark_protect05.png) no-repeat 0 1em; }
.list-series>ul>li li.protect6 { background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/mark_protect06.png) no-repeat 0 1em; }
.list-series>ul>li li.active1 { background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/mark_active01.png) no-repeat 0 1em; }
.list-series>ul>li li.active2 { background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/mark_active02.png) no-repeat 0 1em; }
.list-series>ul>li li.active3 { background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/mark_active03.png) no-repeat 0 1em; }
.list-series>ul>li li.temper1 { background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/mark_temper01.png) no-repeat 0 1em; }
.list-series>ul>li li.temper2 { background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/mark_temper02.png) no-repeat 0 1em; }
.list-series>ul>li li.eco1 { background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/mark_eco01.png) no-repeat 0 1em; }
@media only screen and (max-width:768px) {
.list-series>ul>li ul { margin-left: 0; }
.list-series>ul>li li { width: 100%; display: block; margin: 0; }
}
.shape1, .shape2 { position: absolute; left: 50%; top: 0; height: 100%; z-index: 50; }
.shape3 { position: absolute; top: 0; height: 100%; z-index: 50; }
.shape2 { z-index: 70; }
.shape1.shape1-1 { width: 188px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0101.png) no-repeat; }
.shape1.shape1-2 { width: 219px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0102.png) no-repeat; }
.shape1.shape1-3 { width: 143px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0103.png) no-repeat; }
.shape1.shape1-4 { width: 119px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0104.png) no-repeat; }
.shape1.shape1-5 { width: 219px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0105.png) no-repeat; }
.shape1.shape1-6 { width: 89px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0106.png) no-repeat; }
.shape2.shape2-1 { width: 68px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0201.png) no-repeat; }
.shape2.shape2-2 { width: 60px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0202.png) no-repeat; }
.shape2.shape2-3 { width: 36px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0203.png) no-repeat; }
.shape2.shape2-4 { width: 36px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0204.png) no-repeat; }
.shape2.shape2-5 { width: 74px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0205.png) no-repeat; }
.shape2.shape2-6 { width: 82px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0206.png) no-repeat; }
.shape2.shape2-7 { width: 26px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0207.png) no-repeat; }
.shape2.shape2-8 { width: 24px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0208.png) no-repeat; }
.shape2.shape2-9 { width: 19px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0209.png) no-repeat; }
.innovation201407 .primary-main { background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/201407_01_visual.jpg) no-repeat 50% 0; background-size: cover; }
.innovation201407 .slide { position: relative; left: 0; width: 100%; height: 100%; z-index: 0; border-top: 1px solid #e5e5e5; }
.innovation201407 .slide .wrap-content { padding-top: 0; }
.innovation201407 .slide .tit-sub { margin-bottom: -0.5em; }
.innovation201407 .slide .blur { opacity: 0.4; }
.innovation201407 .visual-img img { width: auto; }
.innovation201407 .con-type1 .tit-sub { font-size: 1.714em; line-height: 1.25; color: #000; }
.innovation201407 #slide1 { height: 740px; background: #fff url(http://imagem.nepa.co.kr/resources/img/product/innovation/201407_01_bg1_1.png) repeat-x 50% 100%; }
.innovation201407 #slide1 .shape3-1 { left: 60%; top: 10%; width: 59%; padding-bottom: 138%; max-width: 542px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0301.png) no-repeat 0 0; }
.innovation201407 #slide1 .shape3-2 { right: 45%; top: 70%; width: 43%; padding-bottom: 96%; max-width: 395px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/shape0302.png) no-repeat 0 0; }
.innovation201407 #slide1 .img { overflow: hidden; margin: 1.714em 0 0; }
.innovation201407 #slide1 .img img { float: left; width: 24%; margin: 0 2% 20px 0; }
.innovation201407 #slide2 { height: 472px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/201407_01_bg1_2.png) repeat-x 50% 0; }
.innovation201407 #slide3 { height: 397px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/201407_01_bg1_3.png) repeat-x 50% 0; }
.innovation201407 #slide5 { height: 1183px; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/201407_01_bg2.png) repeat 50% 0; }
.innovation201407 #slide5, .innovation201407 #slide5 .tit-sub { color: #fff !important; }
.innovation201407 #slide5 .wrap-content { padding-bottom: 0; }
.innovation201407 #slide5 .wrap-content .wrap-box2 { margin-top: 3.571em; }
.innovation201407 #slide5 .shape1.shape1-1 { margin: 0 0 0 -714px; top: -75px; }
.innovation201407 #slide5 .shape1.shape1-2 { margin: 0 0 0 470px; top: 0; }
.innovation201407 #slide5 .shape1.shape1-3 { margin: 0 0 0 311px; top: 345px; }
.innovation201407 #slide5 .shape1.shape1-4 { margin: 0 0 0 222px; top: 530px; }
.innovation201407 #slide5 .shape1.shape1-5 { margin: 0 0 0 -567px; top: 790px; }
.innovation201407 #slide5 .shape1.shape1-6 { margin: 0 0 0 -98px; top: 1150px; }
.innovation201407 #slide5 .shape2.shape2-1 { margin: 0 0 0 114px; top: -35px; }
.innovation201407 #slide5 .shape2.shape2-2 { margin: 0 0 0 344px; top: 135px; }
.innovation201407 #slide5 .shape2.shape2-3 { margin: 0 0 0 405px; top: 203px; }
.innovation201407 #slide5 .shape2.shape2-4 { margin: 0 0 0 26px; top: 510px; }
.innovation201407 #slide5 .shape2.shape2-5 { margin: 0 0 0 -200px; top: 590px; }
.innovation201407 #slide5 .shape2.shape2-6 { margin: 0 0 0 -513px; top: 690px; }
.innovation201407 #slide5 .visual-img { text-align: left; }
.innovation201407 #slide5 .img { position: relative; height: 0; padding: 0 0 47%; margin: 10em 0 0; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/201407_01_bg3.png) no-repeat 100% 100%; z-index: 60; }
.innovation201407 #slide5 .img span { position: absolute; right: -67px; top: 0; width: 100%; height: 100%; background: url(http://imagem.nepa.co.kr/resources/img/product/innovation/201407_01_04.png) no-repeat 0 0; background-size: contain; }
.innovation201407 #slide6 { border-top: 0; }
.innovation201408 .primary-main { padding-bottom: 1.5em; }
.innovation201408 .primary-section { background: #fff url(http://imagem.nepa.co.kr/resources/img/product/innovation/201408_01_bg1_1.png) repeat-x fixed 50% 0; }
.innovation201408 .wrap-content { padding-top: 10px; }
.innovation201408 .wrap-content .wrap-box2:first-child { padding-top: 40px; }
.innovation201408 .con-type1 .tit-sub { font-size: 1.714em; line-height: 1.25; color: #000; }
.innovation201408 .slide { position: relative; border-top: 1px solid #e5e5e5; padding-top: 0; }
.innovation201408 #slide4, .innovation201408 #slide6 { background: #fff; }
.innovation201408 #slide5 { background: #e2da86; }
.innovation201408 #slide5 .shape2 { top: 0; height: 100%; }
.innovation201408 #slide5 #shape1 { margin: 0 0 0 490px; top: -0.013%; }
.innovation201408 #slide5 #shape2 { margin: 0 0 0 -740px; top: 6.8%; }
.innovation201408 #slide5 #shape3 { margin: 0 0 0 37px; top: 19.35%; }
.innovation201408 #slide5 #shape4 { margin: 0 0 0 640px; top: 22.68%; }
.innovation201408 #slide5 #shape5 { margin: 0 0 0 660px; top: 21.75%; }
.innovation201408 #slide5 #shape6 { margin: 0 0 0 -595px; top: 28.05%; }
.innovation201408 #slide5 #shape7 { margin: 0 0 0 -525px; top: 33.4%; }
.innovation201408 #slide5 #shape8 { margin: 0 0 0 -108px; top: 55.23%; }
.innovation201408 #slide5 #shape9 { margin: 0 0 0 444px; top: 56.48%; }
.innovation201408 #slide5 #shape10 { margin: 0 0 0 410px; top: 62.9%; }
.innovation201408 #slide5 #shape11 { margin: 0 0 0 -633px; top: 61.89%; }
.innovation201408 #slide5 #shape12 { margin: 0 0 0 570px; top: 84.8%; }
.innovation201408 #slide5 #shape13 { margin: 0 0 0 10px; top: 88.5%; }
.innovation201408 #slide5 #shape14 { margin: 0 0 0 630px; top: 92%; }
.innovation201408 #slide5 #shape15 { margin: 0 0 0 525px; top: 96%; }
.innovation201408 #slide5 #shape16 { margin: 0 0 0 -410px; top: 99%; }
@media only screen and (max-width:860px) {
.innovation201407 .primary-section .slide { padding-bottom: 2em; }
.innovation201407 #slide1, .innovation201407 #slide2, .innovation201407 #slide3 { height: auto; background-size: cover; }
.innovation201407 #slide5 { height: auto; }
.innovation201407 #slide5 .img { margin: 4em 0; background-size: contain; }
.innovation201407 #slide5 .img span { right: 0; }
}
@media only screen and (max-width:767px) {
.innovation201407 .primary-main { background-size: cover; }
.innovation201407 #slide1 .img img { width: 32%; margin: 0 0 20px 2%; }
.innovation201407 #slide1 .img img:nth-child(3n-2) { margin-left: 0; }
}
@media only screen and (max-width:639px) {
.innovation201407 .wrap-primary .con-type1 > .tit-sub { font-size: 1.428em; }
.innovation201407 #slide5 .visual-img { text-align: center; }
.innovation201407 #slide1 .img img { width: 48%; margin: 0 0 20px 4% !important; }
.innovation201407 #slide1 .img img:nth-child(2n-1) { margin-left: 0 !important; }
.innovation201408 .wrap-content .wrap-box2:first-child { padding-top: 0; }
}
.review201407 .primary-main { background: url(http://imagem.nepa.co.kr/resources/img/product/review/201407_01_visual.jpg) repeat-x 50% 0; background-color: #001527; }
.review201407 .primary-main header { min-height: 40em; }
.review201407 .primary-main header h1>span { margin: 0.916em 0; font-size: 0.5em; line-height: 1.25; letter-spacing: 0.3em; }
.review201407 .con-type1 .tit-sub { font-size: 1.714em; line-height: 1.25; color: #000; }
.review201408 .primary-main { background: url(http://imagem.nepa.co.kr/resources/img/product/review/201408_01_visual.jpg) no-repeat 50% 100%; background-size: cover; background-color: #002227; }
.review201408 .primary-main header { min-height: 30em\9; }
.review201408 .con-type1 .tit-sub { font-size: 1.714em; line-height: 1.25; color: #000; }
.whatsnew201407 .con-type1 .txt, .whatsnew201408 .con-type1 .txt { margin: 0; color: #000; }
.whatsnew201407 .primary-main { background: url(http://imagem.nepa.co.kr/resources/img/product/whatsnew/201407_01_visual.jpg) repeat-x 50% 100%; background-size: cover; }
.whatsnew201407 .con-type1 h3 { margin-bottom: 0.714em; }
.whatsnew201407 .wrap-info { position: relative; overflow: hidden; height: 100%; }
.whatsnew201407 .info-list { position: absolute; bottom: 0; right: 0; padding: 1.429em 0 0 4%; width: 46%; height: 37.6%; background: #96441a; opacity: 0.8; filter: alpha(opacity=80); }
.whatsnew201407 .info-list>h3, .whatsnew201407 .info-list>ul>li { color: #fff; }
.whatsnew201407 .info-list>ul>li { margin-top: 1.214em; }
.whatsnew201407 .info-list>ul>li>strong, .whatsnew201407 .info-list>ul>li>p { display: inline-block; *display:inline;
}
.whatsnew201407 .info-list>ul>li>strong { width: 4.86em; vertical-align: top; }
.whatsnew201407 .info-list>ul>li>p { margin: 0; }
.whatsnew201408 .primary-main { padding: 4em 20px 0; background: url(http://imagem.nepa.co.kr/resources/img/product/whatsnew/201408_01_visual.jpg) repeat-x 50% 100%; background-size: cover; }
@media only screen and (max-width:919px) {
.whatsnew201408 .wrap-primary .wrap-content { padding-top: 0; }
.whatsnew201408 .wrap-primary .wrap-content .box-mes1 { margin-top: 0; }
.whatsnew201407 .info-list { position: relative; padding: 2.1%; width: 96%; height: auto; background: #96441a; opacity: 1; }
}
@media only screen and (max-width:439px) {
.whatsnew201407 .info-list>ul>li { display: table; font-size: 0.875em; margin-top: 1em; }
.whatsnew201407 .info-list>ul>li>strong, .whatsnew201407 .info-list>ul>li>p { display: table-cell; }
}
.playing201407 .primary-main { width: 100%; max-width: none; padding: 4em 0; border-bottom: 1px solid #d9d9d9; }
.playing201407 .primary-main header { max-width: 920px; margin: 0 auto; padding: 0 20px; }
.thinkgreen201407 .primary-main { background: url(http://imagem.nepa.co.kr/resources/img/activity/green/201407_01_visual.jpg) no-repeat 50% 0; }
.thinkgreen201408 .primary-main { background: url(http://imagem.nepa.co.kr/resources/img/activity/green/201408_01_visual.jpg) no-repeat 50% 0; }
.newsroom201407 .primary-main { background: url(http://imagem.nepa.co.kr/resources/img/activity/news/201407_01_visual.jpg) repeat-x 50% 100%; }
.newsroom201407 .con-type1 .tit-sub:first-child { font-size: 1.714em; line-height: 1.25; color: #000; }
.newsroom201408 .con-type1 p strong { color: #fff; text-decoration: none; }
.nature201407 .primary-main { background: #1d4d8e url(http://imagem.nepa.co.kr/resources/img/outdoor/nature/201407_03_01.jpg) no-repeat 50% 0; background-size: cover; }
.nature201407 #slide3 .con-type1, .nature201407 #slide3 .con-type1 .tit-sub { color: #666; }
.nature201407 #slide1 { min-height: 1250px; background: #000 url(http://imagem.nepa.co.kr/resources/img/outdoor/nature/201407_03_02.jpg) no-repeat fixed 50% 0; background-size: cover }
.nature201407 #slide2 { min-height: 995px; height: 995px; background: #000 url(http://imagem.nepa.co.kr/resources/img/outdoor/nature/201407_03_03.jpg) no-repeat fixed 50% 100%; background-size: cover }
.nature201407 #slide2 .wrap-content { padding: 0; width: 100%; height: 100%; }
.nature201407 #slide2 .wrap-box2 { position: absolute; right: 0; bottom: 0; }
.nature201407 #slide3 { min-height: 1124px; background: #000 url(http://imagem.nepa.co.kr/resources/img/outdoor/nature/201407_03_04.jpg) no-repeat 50% 100%; background-size: cover }
.nature201407 #slide3 .visual-img2 { max-width: none; }
.nature201407 #slide4 { min-height: 1124px; background: #000 url(http://imagem.nepa.co.kr/resources/img/outdoor/nature/201407_03_05.jpg) no-repeat fixed 50% 100%; background-size: cover }
.nature201407 #slide5 { background: #292113; }
.nature201407 .wrap-half { position: relative; }
.nature201407 .wrap-half .half { display: block; position: absolute; right: 50%; top: 0; bottom: 0; height: 100%; width: auto; margin-right: 10px; overflow: hidden; }
@media only screen and (max-width:640px) {
.nature201407 .wrap-half .half { position: static !important; width: 100% !important; margin: 0 !important; }
}
.nature201408 .primary-main { background: #1d4d8e url(http://imagem.nepa.co.kr/resources/img/outdoor/nature/201407_07_01.jpg) no-repeat fixed 50% 0; background-size: cover }
.nature201408 .wrap-box2 { margin: 2.142em 0 0; }
.nature201408 #slide1 { min-height: 1162px; background: #000 url(http://imagem.nepa.co.kr/resources/img/outdoor/nature/201407_07_02.jpg) no-repeat fixed 50% 0; background-size: cover }
.nature201408 #slide2 { min-height: 990px; background: #000 url(http://imagem.nepa.co.kr/resources/img/outdoor/nature/201407_07_03.jpg) no-repeat fixed 50% 0; background-size: cover }
.nature201408 #slide3 { min-height: 1124px; background: #000 url(http://imagem.nepa.co.kr/resources/img/outdoor/nature/201407_07_04.jpg) no-repeat fixed 50% 0; background-size: cover }
.nature201408 #slide4 { min-height: 960px; background: #000 url(http://imagem.nepa.co.kr/resources/img/outdoor/nature/201407_07_05.jpg) no-repeat fixed 50% 100%; background-size: cover }
.nature201408 #slide5 { background: #000 url(http://imagem.nepa.co.kr/resources/img/outdoor/nature/201407_07_06.jpg) no-repeat fixed 50% 100%; background-size: cover }
.nature201408 #slide5 .visual-img { margin: 0; padding: 30px 0 0; }
.nature201408 #slide5 .wrap-content { position: relative; width: 100%; max-width: none; padding-top: 0; padding-bottom: 0; }
.nature201408 #slide5 .wrap-content .half { position: absolute; right: 50%; top: 0; width: 50%; height: 100%; padding: 0 10px 0 0; margin-right: -10px; background: #281109; z-index: 0; }
.nature201408 #slide5 .wrap-content .con-type1 { position: relative; z-index: 1; max-width: 920px; margin: 0 auto; padding: 20px 0 40px; }
.nature201408-02 .con-type1 .hid { font-size: 0; line-height: 0; text-shadow: none; color: transparent; }
.nature201408-02 .con-type1 .txt { display: inline-block; width: 18px; height: 30px; background: url(http://imagem.nepa.co.kr/resources/img/outdoor/nature/201408_02_0501.jpg) no-repeat 50% 45%; background-size: 16px 23px; vertical-align: top; text-align: center; }
.nature201408-02 .con-type1 .txt2 { display: inline-block; width: 12px; height: 23px; background: url(http://imagem.nepa.co.kr/resources/img/outdoor/nature/201408_02_0502.jpg) no-repeat 50% 50%; background-size: 10px 14px; vertical-align: top; text-align: center; }
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
.nature201408-02 .con-type1 .txt { background-image: url(http://imagem.nepa.co.kr/resources/img/640/201408_02_0501.png); }
.nature201408-02 .con-type1 .txt2 { background-image: url(http://imagem.nepa.co.kr/resources/img/640/201408_02_0502.png); }
}
@media only screen and (max-width:639px) {
.nature201408 #slide5 .wrap-content .half { width: 100%; right: 0; background: rgba(40,17,9,0.8); }
}
@media only screen and (max-width:640px) {
.nature201408 #slide5 .wrap-half .con img { width: 100%; margin: 0 auto; }
.nature201407 #slide5 .wrap-half .con:first-child img { position: static; width: 100%; }
}
.freedom201407 .list-img4>dt { font-size: 1.571em; }
.freedom201407 .list-img4>dt>div>span strong span { padding-top: 0.28em; }
@media only screen and (min-width:559px) and (max-width:720px) {
.freedom201407 .list-img4>dt { font-size: 1.286em; }
}
.wrap-news { background: none; }
.wrap-news .board-list.board-select>li { *width:781px !important;
}
.wrap-news .board-list.board-select>li em { font-weight: bold; }
.wrap-news .board-list.board-select>li .info { margin: 0.714em 0 0; }
.fun201407 .primary-section { text-align: center; }
.fun201407 .primary-section .headding { margin-bottom: 3.929em; padding: 0 20px; height: 47.786em; background: url(http://imagem.nepa.co.kr/resources/img/culture/fun/201407_01_visual.jpg) repeat-x center 100%; background-size: auto 100%; color: #fff; }
.fun201407 .primary-section .headding strong { overflow: hidden; display: block; margin: 0 auto; max-width: 920px; padding-top: 19.286em; height: 0; background: url(http://imagem.nepa.co.kr/resources/img/culture/fun/201407_01_txt2.jpg) no-repeat 0 4.214em; }
.fun201407 .primary-section .headding span { display: block; margin: 0 auto; max-width: 920px; font-size: 1.429em; font-weight: normal; line-height: 1.5; text-align: left; }
.fun201407 .primary-section .tit-sub { margin: 0.417em auto 0.625em; padding: 0 0.833em; max-width: 900px; font-weight: normal; font-size: 1.714em; line-height: 1.5; color: #000000; }
.fun201407 .primary-section p { margin: 0.714em auto 1.429em; padding: 0 1.429em; max-width: 900px; }
.fun201407 .primary-section .visual1 { display: table; margin: 3.929em 0; width: 100%; background: #55493f; background-size: 8% auto; }
.fun201407 .primary-section .visual1 img, .fun201407 .primary-section .visual1 p { display: table-cell; vertical-align: middle; }
.fun201407 .primary-section .visual1 p { width: 35%; padding: 0 1% 0; text-align: center; font-size: 1.214em; line-height: 1.471em; color: #fff; }
.fun201407 .primary-section .visual1 p:before { content: ''; display: block; margin: 0 auto 5%; width: 8.235em; height: 4.118em; background: url(http://imagem.nepa.co.kr/resources/img/culture/fun/201407_01_txt1.jpg) no-repeat 0 0; background-size: 100% auto; }
.fun201407 .primary-section .visual1 p strong { display: block; margin-top: 3%; font-size: 1.176em; font-weight: normal; }
.fun201407 .primary-section .visual2 { margin: 1.833em 0; padding: 17% 24%; background: url(http://imagem.nepa.co.kr/resources/img/culture/fun/201407_04_visual.jpg) no-repeat center 0; background-size: 100% auto; font-size: 2.143em; font-weight: normal; color: #fff; line-height: 1.200em; }
.fun201407 .primary-section .visual2 strong { font-weight: 800; }
.fun201407 .primary-section .visual3 { margin: 3.929em 0; }
.fun201407 .primary-section .visual3 img { width: 50%; }
.fun201407 .wrap-primary footer .info-sns2 { margin-bottom: 1.833em; text-align: center; }
.fun201407 .wrap-primary footer .info-writer { text-align: center; font-weight: 800; }
.fun201407 .wrap-primary footer .info-writer cite { color: #333; }
@media only screen and (max-width:860px) {
.fun201407 .primary-section .headding { height: 42.286em; }
.fun201407 .primary-section .headding strong { margin: 0; padding-top: 11.429em; width: 16.571em; background-position: 0 2.143em; background-size: 100% auto; }
.fun201407 .primary-section .headding span { margin: 0; width: 45% }
.fun201407 .primary-section .visual1 { display: block; overflow: hidden; }
.fun201407 .primary-section .visual1 .img-align1 { float: left; width: 40% }
.fun201407 .primary-section .visual1 .img-align2 { float: left; width: 40% }
.fun201407 .primary-section .visual1 p { float: right; padding: 28% 0; width: 60%; }
.fun201407 .primary-section .visual2 { padding: 5.000em 21% 4.833em; min-height: 3.333em; background-size: auto 100%; }
}
@media only screen and (max-width:580px) {
.fun201407 .primary-section .visual1 p { padding: 21% 0; }
}
@media only screen and (max-width:480px) {
.fun201407 .primary-section .visual1 .img-align1, .fun201407 .primary-section .visual1 .img-align2, .fun201407 .primary-section .visual1 p { clear: both; width: 100%; }
.fun201407 .primary-section .visual1 p { padding: 20% 0; }
.fun201407 .primary-section .visual3 img { width: 100%; }
}
@media only screen and (max-width:400px) {
.fun201407 .primary-section .headding strong { padding-top: 32.143em; }
.fun201407 .primary-section .headding span { width: 100% }
}
@media \0screen\,screen\9 {
.fun201407 .primary-section .visual1 { overflow: hidden; _zoom: 1; }
.fun201407 .primary-section .visual1 .img-align1 { float: left; width: 30%; }
.fun201407 .primary-section .visual1 .img-align2 { float: right; width: 30%; }
.fun201407 .primary-section .visual1 p { float: left; width: 36%; margin-top: 9%; padding-top: 5.714em; background: url(http://imagem.nepa.co.kr/resources/img/culture/fun/201407_01_txt1.jpg) no-repeat center 0; }
.fun201407 .primary-section .visual1 p:before { display: none; }
.fun201407 .primary-section .visual3 img { width: 49.9%; }
}
.fun201408 .primary-main { padding-bottom: 0; }
.fun201408 .primary-main { background: url(http://imagem.nepa.co.kr/resources/img/culture/fun/201408_01_visual.jpg) no-repeat 60% 100%; background-color: #2e2a25; }
.fun201408 .con-type1 .tit-sub { font-size: 2.857em; line-height: 1.15em; margin-top: 0; margin-bottom: 0.55em; }
.fun201408 .con-type1 .tit-sub>strong { font-weight: 800; }
.fun201408 .con-type1 .txt { margin-bottom: 1.714em; }
.fun201408 .box { width: 100%; background: #27221b; }
.fun201408 .box>.wrap-content { padding-bottom: 2.143em; }
.fun201408 .box h2 { color: #d18920; }
.fun201408 .box p { color: #fff; }
.fun201408 .box2 { position: relative; width: 100%; }
.fun201408 .box2:after { content: ""; display: block; clear: both; }
.fun201408 .box2:before { display: block; position: absolute; left: 50%; top: -2em; bottom: -4.285em; width: 1px; padding: 2em 0 0; border-left: 1px solid #e5e5e5; content: ''; }
.fun201408 .box2>div { float: left; width: 45%; }
.fun201408 .box2 .con2 { float: right; }
@media only screen and (max-width:960px) {
.fun201408 .box2:before { bottom: -20px; }
}
@media only screen and (max-width:767px) {
.fun201408 .con-type1 .tit-sub { font-size: 2.143em; }
.fun201408 .box2:before { display: none; }
.fun201408 .box2>div { float: none !important; margin: 0 !important; padding: 0 !important; width: 100% !important; min-height: 0; border: none; }
.fun201408 .box2>.con2>h2 { margin-top: 0.75em; }
}
.fun201408-02 .primary-main { padding-bottom: 0; }
.fun201408-02 .primary-main + .wrap-content { padding-top: 0; }
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
.primary-article3 .primary-main, .primary-article3 .slide, .primary-article4 .primary-main, .primary-article4 .slide, .innovation201408 .primary-section { background-attachment: scroll !important; }
}
