<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SearchWord">
    
    
    <insert id="insertProductSearchWord" parameterType="ProductSearchWord">
        /*SearchWord.insertProductSearchWord*/
        INSERT INTO tb_product_search_word(
                 prdt_code
               , srch_seq
               , srch_word)
        VALUES(
                 #{prdtCode}
               , search_word_sq.NEXTVAL
               , #{srchWord} 
              )       
    </insert>        

</mapper>