/**/
a.underline {text-decoration: underline;}

/* margin option */
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}

.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}

/* input common*/
.input-num {text-align: right;}
.input-num.num-3 {width: 24px;}
.input-num.num-4 {width: 30px;}
.input-num + .num-suffix {display:inline-block; margin-left: 5px; vertical-align: middle;}

.contents-header h2 {display: inline-block; font-size: 22px; font-weight: 700;}

.indicator-wrap {position: absolute; right: 0; top: 50%; margin-top: -6px;}
.indicator-wrap .indicator-list li {float: left; padding: 0 8px 0 12px; color: #555; background: url(/images/icon/icon_indicator.png) no-repeat left center; font-size: 12px;}
.indicator-wrap .indicator-list li:first-child {padding-left: 18px; background: url(/images/icon/icon_indicator_home.png) no-repeat left center;}
.indicator-wrap .indicator-list li:last-child {padding-right: 0; color: #004d43; font-weight: 700;}

.btn-sample-down {color: #3b4443; height: 18px; margin-left: 59px; padding-right: 24px; border: none; background: none; font-weight: 700; background-image: url(/images/icon/icon_sample_excel_down.png); background-repeat: no-repeat; background-position: right center;}

/* 컬러 칩 리스트 */
.color-chip-list {display: inline-block; overflow: hidden; vertical-align: middle;}
.color-chip-list li {float: left; display: inline-block; margin-left: 4px; margin-bottom: 0;}
.color-chip-list li:first-child {margin: 0;}
.color-chip-list li span {display: inline-block; width: 14px; height: 14px; border: 1px solid #cacaca;}
table.table-list tbody tr.more-info .more-info-wrap > div > span.title + .color-chip-list {margin-top: 8px;}

/* 파일 선택 영역 */
.input-file[disabled] {background: #fff !important;}
.file-wrap {display: inline-block; position: relative; width: 112px; height: 26px; cursor: pointer;}
.file-wrap img {width: 150px; height: 150px; border: 2px; margin-bottom: 20px;}
.file-wrap .btn-file {color: #fff; width: 100%; height: 100%; background: #a5adac; border: 1px solid #a5adac;}
.file-wrap input.input-type {position: absolute; width: 112px; height: 26px; left: 0; top: 0; opacity: 0; filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0;}

/* .btn-wrap */
.btn-wrap .btn-primary, .btn-wrap .btn-cancel {min-width: 66px; height: 32px; padding: 0 14px; font-size: 14px; font-weight: 700;}
.btn-mint {color: #004d43; min-width: 140px; height: 28px; padding: 0 10px; background: #d9e7e5; border: 1px solid #318a7e; font-weight: 700;}
.btn-light-gray {color: #636363; min-width: 98px; height: 28px; background: #e4e4e4; border: 1px solid #939393; font-weight: 700;}
.btn-chip-layer {color: #004d43; background: none; padding: 0 0 2px; border: none; border-bottom: 1px solid #004d43; border-radius: 0;}
.btn-top-wrap {margin-top: 15px; text-align: right;}

.btn-sm {min-width: 90px; height: 26px;}

.added-category-wrap ul li {margin-top: 5px;}
.added-category-wrap ul li:first-child {margin-top: 0;}
.added-category-wrap ul li span {color: #555;}
.added-category-wrap ul li button {margin-left: 8px;}

.added-category-wrap .category-wrap {margin-top: 5px;}

.laundry-warn-list li {float: left; margin-left: 5px;}
.laundry-warn-list li:first-child {margin-left: 0;}

.layer-wrap {display: inline-block;}
.ref-chip-layer {display: none; position: absolute; width: 158px; top: 0; right: -168px;}
.ref-chip-layer .color-chip-list li:nth-child(8n+1) {margin: 0;}

.label-radio input[type=radio],
.label-check input[type=checkbox]{margin-right: 4px;}
.label-radio + .label-radio,
.label-check + .label-check {margin-left: 20px;}


.img-list li {margin-top: 10px;}
.img-list li:first-child {margin-top: 0;}
.img-list li .file-dir {display: inline-block; margin-top: 11px; vertical-align: top;}


.img-list li .img-more-list {display: inline-block; overflow: hidden; margin-left: 20px; margin-top: 0 !important; vertical-align: middle;}
.img-list li .img-more-list li {float: left; margin: 0;}

input.input-order-num[type=text] {width: 40px; padding: 0; border-radius: 0;}

/* Table */
table {width: 100%;}
table th {background: #f3efec;}
table th, table td {text-align: center; border-right: 1px solid #d3cfcc; border-bottom: 1px solid #d3cfcc;}
table th .require {color: #ff6c00; margin-left: 5px; font-weight: 700;}
table.table-form {}
/* 160411 font-weight 추가 */
table.table-form tbody tr th {height: 38px; padding: 0 5px; font-weight: 700;}
table.table-form tbody tr:first-child th, table.table-form tbody tr:first-child td {border-top: 1px solid #d3cfcc;}
table.table-form > tbody > tr > th:first-child, table.table-form > tbody > tr > td:first-child {border-left: 1px solid #d3cfcc;}
table.table-form tbody tr:first-child th:first-child {border-top-left-radius: 2px;}
table.table-form tbody tr td {color: #555; padding: 10px; line-height: 1.5;}
table.table-form tbody tr td.form-100p input[type=text],
table.table-form tbody tr td.form-100p input[type=password],
table.table-form tbody tr td input.input-100p{width: calc(100% - 24px);}
table.table-form tbody tr td.form-100p select {width: 100%;}
table.table-form tbody tr td.form-100p textarea {width: calc(100% - 24px); max-width: calc(100% - 24px); min-height: 50px; max-height: 50px;}
table.table-form tbody tr td.form-100p.form-search {position: relative;}
table.table-form tbody tr td.form-100p.form-search input[type=text] {width: calc(100% - 38px); padding-right: 24px;}
table.table-form tbody tr td.form-100p.form-search .btn-search {position: absolute; width: 24px; height: 24px; border: none; background: url(/images/icon/icon_search.png) no-repeat center center; right: 11px; top: 11px;}
table.table-form tbody tr td.form-search input[type=text]:disabled {background: #fff;}
table.table-form tbody tr td.form-tel input[type=text] {float: left; width: 24px; padding: 0 10px;}
table.table-form tbody tr td.form-tel input[type=text]:not(:first-child) {width: 32px; margin-left: 2px;}
table.table-form tbody tr td input:not[type=radio]:not[type=checkbox] {width: 70px;}
table.table-form tbody tr td .line-2 { display:block; margin-top:8px; }
table.table-form tbody tr td .mgl_5 { margin-left:5px; }
table.table-form tbody tr td .mgl_30 {margin-left:30px;}
/* 160411 min-width 추가 */
table.table-form tbody tr td select {min-width: 130px;}
table.table-form tbody tr td > ol li {margin-top: 7px;}
table.table-form tbody tr td > ol li:first-child {margin-top: 0;}
table.table-form tbody tr td div.blog-link {display: inline-block; width: 100%; margin: -10px; margin-bottom: 10px; padding: 10px; border-bottom: 1px solid #e0e0e0;}
table.table-form tbody tr td div.blog-link pre {display: inline-block; width: calc(100% - 143px); vertical-align: middle; line-height: 1.5em;}
table.table-form tbody tr td div.blog-link .thumb-img {vertical-align: middle;}
table.table-form tbody tr td div.blog-link .btn-wrap {display: inline-block; vertical-align: middle;}
table.table-form tbody tr td span + ul:not(.color-chip-list) {margin-top: 10px;}
table.table-form tbody tr td span + ul.desc-list li {color: #999; margin-bottom: 0;}

table.table_type01 {width:70%;margin:0 auto}
table.table_type01 th {font-weight:bold;border:0;background:none;}
table.table_type01 th,
table.table_type01 td {padding:15px 0;}
table.table_type01 tr:first-child td  {border-top:1px solid #d3cfcc;}
table.table_type01 tr > th + td {border-left:1px solid #d3cfcc;}
table.table_type01 > tbody > tr > td:first-child {border-left: 1px solid #d3cfcc;}
table.table_type01 td.visit5 {background:#F0FFFF;}
table.table_type01 td.visit4 {background:#F0FFF0;}
table.table_type01 td.visit3 {background:#F8F8FF;}
table.table_type01 td.visit2 {background:#FFFAF0;}
table.table_type01 td.visit1 {background:#FFF0F5;}


/* 160411 display, width 추가 */
.table-header {display: inline-block; width: 100%; overflow: hidden; text-align: left;}
/* 160411 position: absolute, left: 0 제거, vertical-align 추가 */
.table-header > span {color: #222; font-size: 13px; font-weight: 700; bottom: 6px; vertical-align: middle;}
.table-header span.cnt {color: #ff6c00;}
.table-header .btn-wrap {display: inline-block; text-align: left;}
.table-header .btn-wrap .btn-tbl-util {min-width: 75px; height: 26px; color: #fff; background: #f3781e; border: 1px solid #f3781e; font-size: 12px; font-weight: 700;}
/* 160411 추가정보 버튼 관련 추가 */
.table-header > span + .btn-wrap {margin-left: 5px;}
.table-header .btn-wrap .btn-more-info {background: #f3781e; border: 1px solid #f3781e; font-size: 12px;}
.table-header .btn-wrap .btn-more-info .icon {display: inline-block; width: 7px; height: 5px; margin-left: 4px; background: url(/images/icon/icon_btn_open_arr.png) no-repeat 0 0; vertical-align: middle;}
.table-header .btn-wrap .btn-more-info.opened .icon {background: url(/resources/images/icon/icon_btn_close_arr.png) no-repeat 0 0;}
/* 160411 table-option-wrap 관련 추가*/
.table-header + .table-form,
.table-header + .table-list,
.table-header + .table-option-wrap,
.table-option-wrap + .table-form,
.table-option-wrap + .table-list {margin-top: 6px;}
.table-option-wrap .option-wrap {display: none; color: #222; background: #f4f4f4; padding: 10px; border: 1px solid #e2e2e2; border-left: none; border-right: none;}
.table-option-wrap .option-wrap span.title {display: inline-block; width: 186px; font-weight: 700; vertical-align: middle;}
.table-option-wrap .option-wrap .input-file {width: calc(100% - 186px - 221px - 230px);}

.table-header .util-box {float: right;}
.table-header .util-box span {font-size: 11px;}
.table-header .util-box .required {color: #ff6c00;}
.table-header .util-box .btn-wrap .btn {color: #3e3e3e; background: #dbdbdb; border-color: #dbdbdb;}
.table-header .util-box select {width: 118px;}


/* 160411 font-weight 추가 */
table.table-list thead tr th {height: 32px; border-top: 1px solid #d3cfcc; border-right: 0; font-weight: 700;}
/*table.table-list thead tr th.sort {cursor: pointer;}*/
table.table-list thead tr th.sort .icon {display: inline-block; width: 7px; height: 4px; margin: 0 0 3px 5px; vertical-align: middle; background-repeat: no-repeat; background-position: center center; cursor: pointer;}
table.table-list thead tr th.sort .icon.asc {background-image: url(/images/icon/icon_sort_asc_nor.png);}
table.table-list thead tr th.sort .icon.desc {margin-left: 2px; background-image: url(/images/icon/icon_sort_desc_nor.png);}
table.table-list thead tr th.sort.asc .icon.asc {background-image: url(/images/icon/icon_sort_asc_on.png);}
table.table-list thead tr th.sort.desc .icon.desc {background-image: url(/images/icon/icon_sort_desc_on.png);}
table.table-list col.seq {width: 50px;}
table.table-list col.chk {width: 30px;}
table.table-list col.date {width: 90px;}
table.table-list col.date-full {width: 120px;}
table.table-list td {min-height: 20px; color: #555; border-right: 0; font-size: 12px; padding: 5px 5px; line-height: 1.5;}
table.table-list tbody tr td.form-100p select {min-width: inherit;}
table.table-list tbody tr td.has-btn-wrap {position: relative;}

.table-footer .btn-wrap, td.has-btn-wrap .btn-wrap {position: absolute; right:0; top: 0;}
.table-form td.has-btn-wrap .btn-wrap, .table-list td.has-btn-wrap .btn-wrap {top: 5px; right: 10px;}

table.table-list tbody tr td.form-100p input[type=text], table.table-form tbody tr td.form-100p input[type=password] {width: calc(100% - 24px);}
table.table-list tbody tr td.form-100p select, table.table-form tbody tr td.form-100p select {width: 100%;}
table.table-list tbody tr td.form-100p textarea, table.table-form tbody tr td.form-100p textarea {width: calc(100% - 24px); max-width: calc(100% - 24px); min-height: 50px; max-height: 50px; resize: none;}
table.table-form tbody tr td .btn-table-inner, table.table-list tbody tr td .btn-table-inner {color: #33615b; height: 20px; padding: 0 4px; background: #fff; border: 1px solid #33615b; border-radius: 2px; font-size: 11px;}
table.table-list tbody tr td.form-file-100p input[type=text], table.table-form tbody tr td.form-file-100p input[type=text] {width: calc(100% - 143px);}
/* 160411 display 추가*/
.thumb-img {display: inline-block; height: 80px; background-repeat: no-repeat; background-position: center; background-size: cover; vertical-align: middle;}
/* 160411 작은 썸네일 CSS 추가*/
.thumb-img.thumb-md {width: 84px; height: 48px;}
.thumb-img.thumb-sm {width: 36px; height: 36px;}
.thumb-img.thumb-xs {width: 18px; height: 18px;}
.thumb-img.thumb-tech {width: 358px; height: inherit;}
table tbody tr td .thumb-img {width: 100%;}
table.table-list tbody tr.hide {display: none;}
/* 160411 추가정보 관련 추가 */
table.table-list tbody tr.more-info {background: #fcfaf9; text-align: left;}
table.table-list tbody tr.more-info .more-info-wrap {margin: 6px 27px 12px; overflow: hidden;}
table.table-list tbody tr.more-info .more-info-wrap ul li {overflow: hidden;}
table.table-list tbody tr.more-info .more-info-wrap > div {float: left; display: inline-block; width: 50%; text-align: left;}
table.table-list tbody tr.more-info .more-info-wrap > div span {float: left; display: inline-block; color: #555; vertical-align: top;}
table.table-list tbody tr.more-info .more-info-wrap > div span.title {color: #5b6261; width: 81px; padding-left: 7px; background: url(/images/icon/icon_more_info_list_bullet.png) no-repeat 0 center; font-weight: 700;}

.table-list-wrap .table-body {max-height:230px;overflow-y:auto;margin-top: 6px;}

/* 테이블 내 테이블 small */
table table.table-sm tr th, table.table-sm tbody tr td {border-right: 1px solid #959595; border-bottom: 1px solid #959595; border-right: 1px solid #959595; border-bottom: 1px solid #959595;}
table table.table-sm tr th {height: 21px; background: #f4f4f4;}
table table.table-sm tr:first-child th, table.table-sm tbody tr:first-child td {border-top: 1px solid #959595;}
table table.table-sm tbody tr td {height: 12px; padding: 5px 10px;}
table table.table-sm tr th:first-child, table.table-sm tbody tr td:first-child {border-left: 1px solid #959595;}


table table.table-sm + .btn-wrap {text-align: right;}

table.table-list td.special-price input[type=text] {width: 100px;}
table.table-list td.special-price .input-price {text-align: right;}

  ul li a
, table.table-form tbody tr td a:not(.sceditor-button)
, table.table-list tbody tr td a:not(.sceditor-button) {
	display: inline-block; 
	color: #004d43; width: 100%; 
	padding-bottom: 2px; 
	font-weight: 700; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden;
}














ul li a:hover, table.table-form tbody tr td a:hover, table.table-list tbody tr td a:hover {text-decoration: underline;}
ul li a, table.table-form tbody tr td a.def-anchor, table.table-list tbody tr td a.def-anchor {display: inline; width: auto;}

.btn-fold + .contents-grid, .contents-header + .contents-grid, .contents-header + .table-form-wrap, .contents-header + form, .contents-header + .table-list-wrap, .contents-header + .table-title, .tab-wrap + .table-title, .form-wrap + .table-title {margin-top: 20px;}

.table-form-wrap + .table-list-wrap, .table-list-wrap + .table-form-wrap, .table-form-wrap + .table-form-wrap, .table-list-wrap + .table-list-wrap, .table-form-wrap + .contents-grid, .table-list-wrap + .contents-grid, .contents-grid + .table-form-wrap, .contents-grid + .table-list-wrap {margin-top: 30px;}

table.table-form + .btn-wrap, table.table-list + .btn-wrap, .form-wrap textarea + .btn-wrap {margin-top: 10px;}

.exhibition-area-wrap {width: 250px; height: 300px; border: 1px solid #4d0000;}
.table-form + span.selected-exhibition {display: inline-block; color: #004d43; margin-top: 11px; padding-left: 11px; background: url(/images/icon/icon_selected_exhibition.png) no-repeat left center; font-size: 12px; font-weight: 700;}

td .table-list.table-sm + .table-sm {margin-top: 10px;}

/* table footer */
.table-footer {height: 32px; text-align: center;}
.table-pagination {display: inline-block; text-align: center; margin-top: 4px;}
.table-pagination .pagination {display: inline-block;}
.table-pagination .pagination li {float: left; height: 23px; padding: 0 6px; line-height: 21px;}
.table-pagination .pagination li a {display: inline-block; color: #999; font-size: 14px;}
.table-pagination .pagination li.current a {color: #ff6c00; font-weight: 700;}
.table-pagination .pagination li.first, .table-pagination .pagination li.next {padding-right: 3px;}
.table-pagination .pagination li.prev, .table-pagination .pagination li.last {padding: 0;}
.table-pagination .pagination li.first a, .table-pagination .pagination li.prev a, .table-pagination .pagination li.next a, .table-pagination .pagination li.last a {width: 21px; height: 21px; border: 1px solid #e0e0e0; background-repeat: no-repeat; background-position: center center;}
.table-pagination .pagination li.first a {background-image: url(/images/icon/icon_page_first.png);}
.table-pagination .pagination li.prev a {background-image: url(/images/icon/icon_page_prev.png);}
.table-pagination .pagination li.next a {background-image: url(/images/icon/icon_page_next.png);}
.table-pagination .pagination li.last a {background-image: url(/images/icon/icon_page_last.png);}
.table-footer .btn-wrap.align-right { left:0; right:inherit; }

table.table-form + .table-footer, table.table-list + .table-footer {margin-top: 15px;}
.table-title {color: #004d43; padding-left: 11px; background: url(/images/icon/icon_table_title.png) no-repeat 0 center; font-size: 14px; font-weight: 700;}
.table-title.notice {color: #f00; background: none; font-size: 15px;}
.btn-wrap + .table-title, .btn-wrap + .table-title {margin-top: 10px;}
.table-title + .table-form-wrap, .table-title + .table-list-wrap, .table-title + .form-wrap, .table-title + .contents-grid, .table-title + .graph-wrap {margin-top: 12px;}
.table-form-wrap + .table-title, .table-list-wrap + .table-title, .contents-grid + .table-title, .view-textarea-wrap + .table-title, .graph-wrap + .table-title, .tab-wrap + .graph-wrap {margin-top: 32px;}
.table-form-wrap.has-footer + .table-title, .table-list-wrap.has-footer + .table-title {margin-top: 10px;}
/* jquery-ui */
.ui-widget {font-family: "맑은 고딕", Dotum, "돋움", Gulim, "굴림", "Helvetica Neue", Helvetica, Arial, Verdana, Tahoma, sans-serif;}

.datepicker-wrap {display: inline-block;}
.datepicker-wrap .datepicker {width: 134px;}
.datepicker-wrap .datepicker:disabled {background: #fff;}
.datepicker-wrap .ui-datepicker-trigger {position: absolute; right: 4px; top: 5px; cursor: pointer;}
.ui-datepicker-title {color: #222; font-size: 14px; font-weight: 700;}
.datepicker-util {display: inline-block;}
.datepicker-wrap + .datepicker-util {margin-left: 6px;}
.datepicker-util button, button.btn-gray {display: inline-block; min-width: 50px; height: 26px; color: #fff; background: #707877; border: 1px solid #707877; border-radius: 2px; font-size: 12px;}
.datepicker-wrap .content {float: left;}
.datepicker-time {min-width: fit-content !important;}

.ui-datepicker {padding: 13px 11px 7px; border-color: #004d43;}
.ui-datepicker-header {padding: 0; border: 0; background: none;}
.ui-datepicker th {padding: .7em 0;}
.ui-datepicker td {color: #555; font-size: 12px; text-align: center;}
.ui-datepicker td a {display: inline-block; width: 21px; height: 18px; text-align: center; border: 1px solid #fff; margin: 0; padding: 0; line-height: 18px;}

.ui-datepicker .ui-datepicker-prev span {background: url(/images/icon/icon_calendar_prev.png) no-repeat center;}
.ui-datepicker .ui-datepicker-next span {background: url(/images/icon/icon_calendar_next.png) no-repeat center;}
.ui-datepicker-calendar tr th {color: #888; background: #f3efec; font-size: 10px; font-weight: 700;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background: #fff; border: none;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {color: #ff6c00; border-bottom: 2px inset #ff6c00;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background: #ff6c00; border: 1px solid #e86200; border-radius: 2px;}

/* tabs */
.table-title + .tab-wrap { margin-top:12px; }
.tab-wrap.ui-widget-content {border: 0;}
.tab-wrap.ui-widget-content .ui-widget-header {border: 0; background: none; padding: 0;}
.tab-wrap.ui-widget-content .ui-tabs-panel {padding: 0;}
.tab-wrap.ui-widget-content .ui-widget-header.ui-tabs-nav {border-bottom: 1px solid #004d43;}
.ui-tabs .ui-tabs-nav li {margin-right: 0; border: 1px solid #dcdcdc; border-bottom: 0; border-right: 0; border-radius: 0;}
.ui-tabs .ui-tabs-nav li:last-child {border-right: 1px solid #dcdcdc;}
.ui-tabs .ui-tabs-nav li.ui-state-active {background: #fff; border-color: #004d43;}
.ui-tabs .ui-tabs-nav li.ui-state-active + li {border-left-color: #004d43;}
.ui-tabs .ui-tabs-nav li.ui-state-active a {color: #004d43;}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {min-width: 40px; text-align: center; padding: 12px 10px;}

.tab-wrap.ui-widget-content .ui-tabs-panel {margin-top: 20px;}

.table-form-wrap + .tab-wrap, .table-list-wrap + .tab-wrap {margin-top: 30px;}

.tech-wrap {display: inline-block; width: 100%; margin-top: 10px;}
.tech-wrap .btn {display: inline-block; vertical-align: middle;}

.input-video-url {width: calc(100% - 135px);}
.tech-wrap {display: inline-block; width: 100%;}

.tab-wrap.with_graph {width:69%;float:left;z-index:1;}
.tab-wrap.with_graph:atfer {content:'';displa:block;clear:both;}
.tab-wrap.with_graph + .graph-wrap {margin-top:0;z-index:0;}

/* 프로모션 */

.promo-title {display: inline-block; width: 85px; font-weight: 700; vertical-align: top;}
.promo-title + .promo-detail-wrap {display: inline-block; width: calc(100% - 90px);}
.promo-detail-wrap > div {margin-top: 15px;}
.promo-detail-wrap > div:first-child {margin: 0;}
.promo-detail-wrap .btn-sample-down {margin-left: 10px;}

.promo-detail-wrap .promo-product-wrap .title {display: inline-block; font-weight: 700; vertical-align: middle;}
.promo-detail-wrap .promo-product-wrap .btn-mint + .title {margin-left: 10px;}
.promo-detail-wrap .promo-product-wrap .input-file {width: calc(100% - 554px);}

.promo-added-wrap {padding: 10px 20px; background: #f2f2f2; border: 1px solid #eee;}
.promo-added-wrap li {margin-top: 6px;}
.promo-added-wrap li:first-child {margin-top: 0;}
.promo-added-wrap .prod-name {display: inline-block; color: #555; text-decoration: underline; vertical-align: middle;}
.promo-added-wrap .prod-name + .btn {margin-left: 3px; vertical-align: middle;}

.gift-wrap {display: inline-block; width: 100%;}
.gift-wrap .btn {vertical-align: middle;}
.gift-wrap .btn.btn-sm + .promo-added-wrap {display: inline-block; width: calc(100% - 140px); margin-top: 0; margin-left: 3px; vertical-align: middle;}
.gift-wrap .promo-added-wrap {padding-bottom: 4px;}
.gift-wrap .promo-added-wrap li {float: left; margin: 0 15px 6px 0;}
.gift-wrap .promo-added-wrap li span {vertical-align: middle;}

.discount-range-wrap div {color: #898989; margin-top: 6px;}
.discount-range-wrap div:first-child {margin-top: 0;}
.discount-range-wrap div.range-wrap span {display: inline-block; color: #555;}
.discount-range-wrap div.range-wrap span.discount-price {margin-left: 33px;}
.discount-range-wrap div.range-wrap input[type=text] {width: 104px;}

/* 회원상세 */
.radio-wrap { margin-left:8px; }

/* 상담내역 추가정보관련 */
.view-textarea-wrap {height:calc(100% - 24px); min-height: 60px; margin:12px 10px; overflow: hidden; }
.table-title + .view-textarea-wrap {height: 94px; margin: 0; margin-top: 12px;}
.view-textarea-wrap form {height: 100%;}
.view-textarea-wrap form > div:not(.mileage-type), .view-textarea-wrap > div:not(.mileage-type) {float: left; height:100%; text-align: left;}
.view-textarea-wrap .bx-fl { width:calc(87% - 15px); height: 100%; min-height: 60px; margin-right:15px; }
.view-textarea-wrap .bx-fl textarea { width: calc(100% - 24px); max-width: calc(100% - 24px); height: calc(100% - 22px); min-height: 40px; max-height: calc(100% - 22px);  padding:10px 12px; text-align: left; line-height:1.2em; resize: none;}
.view-textarea-wrap .bx-fr { width:13%; }
.view-textarea-wrap .bx-fr select,
.view-textarea-wrap .bx-fr button { width:100%; }
.view-textarea-wrap .bx-fr select + button, .view-textarea-wrap .bx-fr button + button {margin-top: 8px;}


.qna-detail-wrap {text-align: left;}
.qna-detail-wrap span {display: inline-block; color: #004d43; font-weight: 700;}
.qna-detail-wrap p {margin-top: 10px; line-height: 1.5em;}
.qna-detail-wrap div {margin: 10px 10px;}
.qna-detail-wrap div + div {padding-top: 10px; border-top: 1px dotted #ccc;}

.view-textarea-wrap.mileage-wrap .mileage-type {margin-bottom: 10px; text-align: left; padding-bottom: 10px; border-bottom: 1px solid #d3cfcc;}
.view-textarea-wrap.mileage-wrap .mileage-type span {margin: 0 15px;}
.view-textarea-wrap.mileage-wrap .mileage-type span:first-child {margin-left: 0;}
.view-textarea-wrap.mileage-wrap .mileage-type input[type=text] {width: 60px; text-align: right;}
.view-textarea-wrap.mileage-wrap .mileage-type select {min-width: 80px;}
.view-textarea-wrap.mileage-wrap .mileage-type label {margin-left: 15px;}
/*
.mileage-wrap .bx-fl { width:calc(20% - 15px); }
.mileage-wrap .bx-fl + .bx-fl { width:calc(67% - 15px); }
*/
.mileage-wrap .bx-fl input {display: inline-block; width: calc(100% - 27px); vertical-align: middle;}


/**/
.form-wrap {}
.form-wrap textarea {width: calc(100% - 26px); resize: none;}
.form-wrap.memo-wrap textarea {height: 48px; min-height: 48px; max-height: 48px;}
.form-wrap .btn-wrap {text-align: right;}

/**/
.pannel-wrap .pannel-header {color: #222; height: 26px; padding-top: 12px; border: 1px solid #d3cfcc; background: #f3efec; border-top-left-radius: 2px; border-top-right-radius: 2px; text-align: center; font-weight: 700;}
.pannel-wrap .pannel-contents {height: 128px; padding: 15px; border: 1px solid #d3cfcc; border-top: none; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;}

.best-sell-list li {margin-bottom: 7px;}
.best-sell-list li a {vertical-align: middle;}
.best-sell-list .thumb-img {border: 1px solid #d6d6d6;}

/**/
.graph-wrap {min-width:1291px;min-height: 247px;}
.graph-wrap .table-header > span {line-height:20px;}
.graph-wrap .piechart_wrap div {float: left;}
.graph-wrap .piechart_wrap:after {content:'';display: block;clear: both;}
.graph-wrap .customer_distribution {padding:20px 0 25px 50px;}


/* 2017.03.06 정재요 상품 평점 추가. */
.product-review-score {display: block; overflow: hidden; width: 80px; height: 16px;}
.product-review-score.mgt-left10 {margin-left: 10px;}
.product-review-score div {display: block; width: 80px; height: 16px; background: url(/images/common/review_star.png) no-repeat 0 0; background-size: 80px 32px;}
.product-review-score div.review-score-star {top: -16px; background-position: 0 -16px;}
.product-review-score.score-50 div.review-score-star {width: 80px;}
.product-review-score.score-45 div.review-score-star {width: 72px;}
.product-review-score.score-40 div.review-score-star {width: 64px;}
.product-review-score.score-35 div.review-score-star {width: 56px;}
.product-review-score.score-30 div.review-score-star {width: 48px;}
.product-review-score.score-25 div.review-score-star {width: 40px;}
.product-review-score.score-20 div.review-score-star {width: 32px;}
.product-review-score.score-15 div.review-score-star {width: 24px;}
.product-review-score.score-10 div.review-score-star {width: 16px;}
.product-review-score.score-05 div.review-score-star {width: 8px;}

/* 온라인쿠폰관리 */
.online_coupon div + div {margin-top:10px;}

/* loading */
.loading {display:none;position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:#000000;opacity:.5;}
.loading .img_wrap {text-align: center;position: absolute;top: 50%;left: 50%;margin: -115px 0 0 -250px;}
.loading .img_wrap img {width:500px;}
.loading .img_wrap span {position: absolute;bottom: 60px;left: 50%;margin-left: -35px;display:block;color:#ffffff;font-size:20px;}

/* 상품리스트 */
.entypo-down-open:before{
	content : '\2228' 
}
.entypo-up-open:before{
	content : '\005E'
}
/* 브랜드팝업 */
