@charset "UTF-8";
.popup-wrap {height: calc(100% - 2px); border: 1px solid #004d43;}
.popup-header {height: 14px; padding: 11px 15px 25px; background: #004d43; color: #fff; font-size: 15px; font-weight: 700;}
.btn-wrap .btn-close {min-width: 66px; height: 27px; padding: 0 14px; font-size: 14px; font-weight: 700;}
.popup-header .btn-wrap{float:right;}
.popup-title h2 {display: inline-block; font-size: 22px; font-weight: 700; padding-bottom: 15px;}
.popup-contents {height: calc(100% - 74px); padding: 16px 19px; overflow-y: auto;}
.popup-contents > h2, .popup-contents form > h2 {display: inline-block; font-size: 22px; font-weight: 700;}
.popup-contents > h2 + .table-form-wrap, .popup-contents > h2 + .table-list-wrap, .popup-contents form > h2 + .table-form-wrap, .popup-contents form > h2 + .table-list-wrap {margin-top: 20px;}
.popup-contents > .btn-wrap, .popup-contents form > .btn-wrap {margin-top: 20px; text-align: right;}